<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tuling.cistarter.web.dao.CustomerDAO">
    <resultMap id="customer" type="org.tuling.cistarter.entity.Customer">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="email" column="email" />
    </resultMap>

    <sql id="columns">
        id,name,email
    </sql>


    <select id="getCustomerById" parameterType="int" resultMap="customer">
        SELECT
        <include refid="columns"/>
        FROM CUSTOMERS
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="customer">
        SELECT
        <include refid="columns"/>
        FROM CUSTOMERS
        ORDER BY ID DESC
    </select>

</mapper>